body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: normal;
}

h1 {
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6, p, li, a, footer {
    padding: 0.5em;
}

h2, h3, h4, h5, h6{
    font-size: 1em;
    font-weight: 700;
}